<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <!--<connectionStrings>
    <add name="SynchronicWorldContext" connectionString="Data Source=|DataDirectory|\SynchronicWorldLocalDatabase.sdf" providerName="System.Data.SqlClient" />-->
    <!--<add name="SynchronicWorldContext"
        connectionString="Data Source=C:\Users\koenigs\documents\visual studio 2012\Projects\SynchronicWorld\SynchronicWorld.DAL\SynchronicWorldLocalDatabase.sdf"
        providerName="System.Data.SqlServerCe.4.0" />-->
    <!--<add name="SynchronicWorldContext" 
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;
                       database=SynchronicWorldLocalDatabase;
                       AttachDBFilename=|DataDirectory|\SynchronicWorldLocalDatabase.sdf;
                       User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>